
/* ====== Loader ====== */
.loader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    z-index: 9999;
    animation-delay: 2s;
    gap: 7vw;
    width: 100vw;
    height: 100vh;
}

.loader-slash {
    height: 50vh;
    width: 140vw;
    background-color: #1f2323;

    /* * SUPPRIMÉ : Le transform statique qui causait le conflit.
     * transform: rotate(15deg);
     */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45vh;
    min-width: 140vw;
    transform: rotate(15deg);
    animation: pulse 3s ease-in-out;
}

.loader-text {
    text-align: center;
    font-size: 4vw;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    color : var(--secondary-color);
    letter-spacing: 0.1em;
    animation: test 2s;
}

@keyframes test {

    0%{
        transform: scale(1.8);/* rotation rapide */
        opacity: 1;
    }
    60% {
        transform: scale(1.8);/* rotation rapide */
        opacity: 0;
    }
    100% {
        transform: scale(1.8);/* rotation rapide */
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.04) rotate(-70deg);
        width: 140vw;
        height: 30vw;
        opacity: 1;
    }



    30% {
        transform: scale(0.04) rotate(360deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(15deg);
        opacity: 1;
    }
}


.content {
    opacity: 0;

}

