.logo-box {
    position: fixed;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}
.logo-top{
    cursor: pointer;
    scale: 4;
    display: flex;
    gap : 0.5vw;
    transition: all 0.3s ease-in-out;
}

.logo-text{
    font-size: 2vw !important;
    transition: all 0.3s ease-in-out;
}
.logo-slash{
    font-size: 2vw !important;
    animation: turning 5s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
}
@keyframes turning {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(180deg); /* <== termine à 90° */
        opacity: 1;

    }
}

.section1 {
    width: 100vw;
    height: 63vh;
    background-color : var(--dark-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position : relative;
}
#videoList2, #videoList1{

    display: flex;
    opacity: 20%;
    width: 99vw;
    height: 70vh;
    justify-content: center;
    filter:grayscale(100%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    z-index: 0.1;
}

video {
    object-fit: cover;
}

#videoList2.hidden, #videoList1.hidden, #videoList3.hidden{
    opacity: 0;
    visibility: hidden;
}

.section2 {
    width: 100%;
    height: 35vh;
}
.project-starter{
    width: 100%;
    height: 30vh;
    display: flex;
    gap: 1vw;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.listProject {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.project{
    width: 10vw;
    height: 8vh;
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    flex-wrap : wrap;

    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: center center;
    font-family: "BBH Sans Bartle", sans-serif;
    color : var(--secondary-color);
}
.project:hover{
    color: #59ba00;
}

.project:hover .project-logo{
    filter:grayscale(0%);
    transform : scale(1.2) rotate(10deg);

}

.project-logo{
    width : 6vw;
    filter:grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.project.main {
    transform: scale(2.5);
    position : absolute;
    margin-top : 5vh;
    z-index: 1;
    filter: none; !important
}

.project-choice-title{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.section3 {
    width: 100%;
    height: 50vh;
}