.logo-box {
    position: absolute;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-top{
    cursor: pointer;
    color : var(--secondary-color);
    scale: 4;
    display: flex;
    gap : 0.5vw;
}

.logo-text{
    font-size: 2vw !important;
}
.logo-slash{
    font-size: 2vw !important;
    transform: scale(1) rotate(180deg);
    animation: turning 5s ease-in-out infinite;
}
@keyframes turning {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(180deg); /* <== termine à 90° */
        opacity: 1;

    }
}



.section1 {
    width: 100%;
    height: 75vh;
    background-color : var(--dark-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section2 {
    width: 100%;
    height: 50vh;
}

.listProject {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    position: absolute;
    width: 100%;
    height: 15vh;
}
.project{
    width: 25vw;
    height: 25vh;
    background-color: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    font-size: 5vw;
}
.main{
    width: 35vw;
    height: 35vh;
    order : 2;
}

.left {
    order : 1;
}
.right {
    order : 3;
}