.logo-box {
    position: absolute;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-top{
    cursor: pointer;
    color : var(--secondary-color);
    scale: 4;
    display: flex;
    gap : 0.5vw;
}

.logo-text{
    font-size: 2vw !important;
}
.logo-slash{
    font-size: 2vw !important;
    transform: scale(1) rotate(180deg);
    animation: turning 5s ease-in-out infinite;
}
@keyframes turning {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(180deg); /* <== termine à 90° */
        opacity: 1;

    }
}



.section1 {
    width: 100%;
    height: 75vh;
    background-color : var(--dark-color);
}

.section2 {
    width: 100%;
    height: 50vh;
}